@mixin manage_icons {
	width: 100%;
	display: flex;
	i {
		font-size: 30px;
		color: #d11e1e;
		width: 20%;
	}
	div {
		width: 80%;
	}
}

.footer {
	background: #181818;
	color: #fff;
	line-height: 2em;

	.container {
		width: 80%;
		max-width: 1000px;
		padding: 0 20px;
		margin: auto;

		.footer-cont {
			padding: 50px 0;
			display: flex;
			justify-content: space-between;

			.holder {
				width: 30%;
				display: flex;
				justify-content: center;

				.address {
					.icons { @include manage_icons }
				}
				.foot-navigation {
					width: 100%;
					.icons { @include manage_icons }
				}

				.social {
					width: 100%;
					.icons{ @include manage_icons }
					h3 {
						margin: 0;
					}
				}
			}
		}

		p {
			margin: 0px;
			padding: 10px 0;
			font-weight: bold;
		}
	}
}


@media(max-width: 900px) {
}

@media(max-width: 700px) {
	.footer {
		.container {
			.footer-cont {
				padding: 50px 0;
				display: block;

				.holder {
					width: 100%;
					display: block;
					padding: 30px 0;

					.address {
					}
					.foot-navigation {
						width: 100%;
					}

					.social {
						width: 100%;
					}
				}
			}
		}
	}
}