.banner {
	height: 100vh;
	display: block;
	position: relative;
}

.banner-slide {
	height: 100vh;
	justify-content: center;
	img {
		height: 100%;
	}
}

.hero {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;

	.float-search {
		position: absolute;
		z-index: 5;
		top: 100px;
		width: 100%;
	}
	
	.wrnty {
		position: absolute;
		z-index: 1;
		top: 250px;
		font-family: sans-serif;
		padding: 20px;
		font-size: 50px;
		font-style: italic;
		font-weight: bold;
		background: rgba(0, 0, 0, 0.5);
		text-align: center;

		#day {
			color: #2164f3;
			font-size: 90px;
			font-weight: bolder;
			padding: 10px;
		}

		#warranty {
			color: #fff;
		}
	}
}


@media(max-width: 1024px) {

	.banner {
		height: 500px;

	}

	.banner-slide {
		height: 500px;
	}

	.hero {
		.wrnty {
			top: 200px;
			font-size: 30px;
			#day {
				font-size: 60px;
			}
		}
	}

}

@media(max-width: 700px) {

	.banner {
		height: 250px;

	}

	.banner-slide {
		height: 250px;
	}

	.hero {
		.float-search {
			top: 20px;
			width: 90%;
		}
		.wrnty {
			top: 60px;
			padding: 5px;
			font-size: 20px;

			#day {
				font-size: 30px;
				padding: 10px;
			}
		}
	}
}