.admin-section {
	text-align: center;
	padding: 50px;

	.select {
		button {
			background: #284c98;
			border: 0;
			padding: 10px;
			color: #fff;
			cursor: pointer;
			font-weight: bold;
			border-radius: 1px;
		}

		button:hover {
			background: grey;
			color: #000;
		}
	}
}